@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition:  .2s all linear;
}

a {
  text-decoration: none;
}
li {
   list-style: none;
}
body {
  font-family: 'Poppins', "sans-serif";
}
.logo {
  width: 236.26px;
  height: 60px;
  margin-left: 20px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  background: #fff;
  padding: 20px;
  top: 0;right: 0;left: 0;
}
header.sticky {
   position: fixed;
   background: #fff;
   padding: 20px ;
   top: 0;right: 0;left: 0;
}

.btn {
    display: inline-block;
    padding: 14px 20px;
    background: #000000;
    color: #fff;
    border-radius: 10px;
    margin: 10px;
}

nav {
  display: inline-block;
}
.nav a {
  margin: 20px;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
letter-spacing: 0.01em;

color: #242323;
text-transform: uppercase;
}
nav.nav {
  display: none;
}
#menu-bar {
  display: initial;
  font-size: 2rem;
margin-right: 30px;
}
header nav.nav.active {
  top: 100px;
  left: 0;
  right: 0;
  position: fixed;
}

 .nav.active {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 50px;right: 0;left: 0;
   width: 100%;
   background: #fff;
   z-index: 2;

 }
 .banner-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
 .banner {
  background: #F4F6F5;
  padding: 15px;
  width: 100%;
  margin-top: 20px;
 }
 .banner-row {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 50px;
 }
 .txt-div h1 {
     text-align: center;
     font-size: 30px;
 }
 .span-1{
  background: #fff;
}
.span-2 {
  background: #EBD96B;
}
.span-1 , .span-2 {
   width: 300px;
   transform: rotate(-2deg);
}
.img-div {
    width: 300px;
}
.img-div img {
   max-width: 100%;
}
.logo-section {
   display: flex;
   margin-top: 20px;
   justify-content: center;
   align-items: center;
   background: #EBD96B;
   padding: 20px;
   width: 100%;
}
.logo-section img {
   width: 50px;
}
.heading {
   margin-left: 100px;
   margin-top: 20px;
}
.new-container {
   display: flex;
   justify-content: center;
   align-items: center;
}
.content {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}
.content-bx {
   margin: 20px;
}
.content-img {
   width: 300px;
}
.content-img img {
     max-width: 100%;
}
.arrow{
   display: flex;
   justify-content: space-between;
}
.arrow img {
   width: 32px;
}
.payday {
  background: #EBD96B;
  height: 600px;
}
.row {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   text-align: center;
}
.row-2 .small-txt {
   width: 300px;
}
.row-2 .btn {
   margin: 0px;
   margin-top: 20px;
}
.row-1 {
  width: 300px;
}
.row-1 img {
 max-width: 100%;
}
.col {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   text-align: center;
}
.col-1 {
   width: 300px;
}
.col-1 img {
   max-width: 100%;
}
.col-2 h1 ,
.col-2 .small-txt {
   width: 300px;
   line-height: 30px;
}
.col-img img{
   margin-top: 20px;
   width:104px;
}
.letter-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.letter-bx input {
 width: 300px;
 padding: 20px;
 border-radius: 10px;
 outline: none;
 background: #FFFFFF;
 margin-top: 20px;
}
.letter-bx button {
  padding: 14px 20px;
  background: #000000;
  outline: none;
  color: #fff;
  margin-left: -90px;
  border-radius: 8px;
}
.letter-bx h1 ,
.letter-bx p {
   color: #fff;
   margin-top: 20px;
}
.letter {
  background: #E5C643;
  padding: 50px;
  height: 400px;
}
.footer {
    background: #000000;
    padding: 70px 0;
    color: #fff;
}
.container {
    max-width: 1170px;
    margin: auto;
}
.footer-row {
    display: flex;
    flex-wrap: wrap;
}
.footer-col {
    width: 100%;
    padding: 0px 15px;
    margin-top: 20px;
}
.footer-col ul li a {
    color: #FFFFFF;
  

} 
.footer-col h4 {
    text-transform: uppercase;
}
.social-links {
    margin-top: 10px;
}
.social-links i {
     font-size: 20px;
     padding: 10px;
     border-radius: 10px;
     background: #E5C643;
}
@media  only screen and  (min-width: 600px) {
   .footer-col {
       width: 50%;
   }
   .row {
       flex-direction: column;
   }
   .heading {
       margin-left: 180px;
   }
}

@media  only screen and (min-width: 980px) {
     #menu-bar {
       display: none;
     }
     nav.nav {
       display: flex;
     }
     .banner-row {
       flex-direction: row;
       justify-content: left;
       align-items: left;
     }
     .txt-div {
        margin-left: 50px;
     }
     .txt-div h1,
     .row-2 h1 {
        font-size: 65px;
        text-transform: uppercase;
     }
     .img-div {
         width: 550px;
         margin-left: 150px;
     }
     .img-div img {
        max-width: 100%;
     }
     .logo-section img {
      width: 100px;
     }
     .row {
       margin-top: 100px;
       padding: 50px;
       justify-content: center;
       align-items: center;
       text-align: left;
       flex-direction: row;
     }
     .payday {
       height: 550px;
     }
    .row-1 {
      width: 500px;
      margin-top: 10px;
    }
    .row-1 img {
       max-width: 100%;
    }
    .row-2 {
       margin-top: 50px;
    }
    .row-2 h1 .span-1 {
      padding: 10px;
    }
    .fav .content-img {
      width: 500px;
   }
   .col {
      margin-top: 50px;
      text-align: left;
   }
   .col-2 {
    width: 407px;
   }
   
   .col-2 h1 {
     font-size: 30px;
     line-height: 150%;
   }
   .col-2 .small-txt {
       margin-top: 20px;
   }
   
   .col-1 {
      width: 350px;
   }
   .col-1 img {
     max-width: 100%;
   }
   .letter-bx input {
       width: 400px;
   }
   .letter-bx h1 {
    font-size: 55px;
    line-height: 70px;
    width: 966px;
   }
   .heading {
    margin-left: 280px;
 }
 .footer-col {
   width: 25%;
   padding: 0 15px;
}

    
}

@media  only screen and (min-width: 1200px) {
      .txt-div h1 .span-1 , .span-2 {
        width: 400.74px;
        height: 112.14px;
        padding: 10px;
        transform: rotate(-2deg);
    }
    .banner {
       width: 1400px;
       border-radius: 59px;
    }
    .logo-section img {
      width: 150px;
      margin: 20px;
}
    
}